<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Spectrum 2 : Spectrum 2 IM transports" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
    <title>Spectrum 2</title>
</head>

<body>
    <div id="header">
        <div id="header-content">
            <img id="logo" src="/logo.png" />
            <div id="menu">
                <a class="menuitem" href="/">About</a>
                <a class="menuitem" href="/documentation">Documentation</a>
                <a class="menuitem" href="/download">Download</a>
                <a class="menuitem" href="/discussion">Discussion</a>
                <a class="menuitem" href="https://github.com/SpectrumIM/spectrum2/issues">Development</a>
            </div>
        </div>
    </div>
    <div id="content">
        {{ content }}
    </div>
</body>

</html>